html {
	position: relative;
	min-height: 100%;
}
body {
	margin: 0 0 50px; /* same height as footer */
	font-family: 'Open Sans', sans-serif;
}
p {
	text-align: justify;
}
a {
	text-decoration: none !important;
}
a:hover {
	background-color: pink;
}

.header {
	position: fixed;
	width: 100%;
	z-index: 2;
	color: #fff;
	background-color: #2d2d2d;
	display: inline-block; 
	text-align: center;
	font-family: 'Raleway', sans-serif;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.logo {
	text-decoration: none!important;
	color: white;
}
.logo:hover {
	text-decoration: none!important;
	background-color: #2d2d2d;
}
.myAccount {
	text-decoration: none!important;
	text-align: right; 
	margin-right: 50px;
	color: #fff;
	position: relative;
	display: inline-block;
	float: right;
}
.myAccountButton {
	background-color: #2d2d2d;
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 15px;
	padding: 5px;
	padding-left: 10px;
	margin-top: 5px;
	border: none;
	cursor: pointer;
}
.myAccountContent {
	display: none;
    position: absolute;
    right: 0;
    background-color: #2d2d2d;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.myAccountContent a {
    color: #fff;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.myAccountContent a:hover {
    color: #2d2d2d;
    background-color: #fff;
}
.myAccount:hover .myAccountContent {
    display: block;
}
.myAccount:hover .myAccountButton {
    background-color: #fff;
    color: #2d2d2d;
}
.myAccount:hover .machevron {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    top: 3px;
}


.sidenav {
	position: fixed;
	height: 80%;
	margin-top: 64px;
	margin-left: 20px;
	margin-bottom: 400px;
	width: 175px;
	min-width: 100%
	background-color: #2d2d2d;
	font-size: 20px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	
	z-index: 1;
	overflow: auto;

	-webkit-transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s;
	transition: background-color .3s, color .15s, box-shadow .3s, opacity 0.3s
}
.sidenav a {
	text-decoration: none!important;
	padding: 8px 2px 8px 16px;
	display: block;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
.sidenav a:hover {
	background-color: #fff;
	color: #2d2d2d;
}
.subsidenav {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;

	border: none;
	display: inline-block;
	outline: 0;
	padding: 6px 32px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none!important;
	color: #fff;
	background-color: #2d2d2d;
	text-align: left;
	cursor: pointer;
	white-space:nowrap;
	width: 100%;
}
.subsidenav:hover {
	color: #2d2d2d;
	background-color: #fff;
}

.page {
	padding-left: 225px;
	padding-top: 64px;
	padding-right: 20px;
	text-align: center;

	opacity:0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}
.footer {
	position: absolute;
	left: 0;
	bottom: 0;
	height: 50px;
	width: 100%;
	z-index: 2;
	color: #fff;
	background-color: #2d2d2d;
	margin-top: 35px;
	font-family: 'Raleway', sans-serif;

	opacity:0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}
.description {
	margin-top: 55px; 
	padding: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
tr:hover {
	background-color: #2d2d2d;
	color: #fff;
}

.container {
  display: flex;
}
.container > div {
  flex: 1;
}

b {
    border: solid #65AFFF;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 4px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 4px;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-right: 4px;
}
.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    position: relative;
    top: 3px;
    margin-right: 4px;
}
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    position: relative;
    bottom: 3px;
    margin-right: 4px;
}

.ochevron {
	transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    position: relative;
    left: 3px;
}
.cchevron {
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    position: relative;
    right: 2px;
}
.ssnchevron {
	transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-left: 14px;
} 

.register {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -175px;
    width: 350px;
    height: 350px;
    text-align: center;
}
.login {
	position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -175px;
    width: 350px;
    height: 300px;
    text-align: center;
}
.submitBtn {
	border: none;
	display: inline-block;
	outline: 0;
	padding: 6px 16px;
	vertical-align: middle;
	overflow: hidden;
	text-decoration: none!important;
	color: #fff;
	background-color: #2d2d2d;
	text-align: center;
	cursor: pointer;
	white-space:nowrap;
}
.submitBtn:hover {
	background-color: #3f0f91;
}

.redirectPage {
	padding-top: 30px;
	text-align: center;
	opacity:0;
    transition: opacity 2s;
    -webkit-transition: opacity 2s;
}
input:focus,select:focus,textarea:focus,button:focus {
    outline: none;
}
.noHighlight:hover {
	background-color: white;
	text-decoration: none;
}
